= turbo_frame_tag file, "actions" do
  - if policy(file).destroy?
    = link_to "Delete", file_path(file),
      class: "btn btn-sm btn-danger",
      data: { "turbo-confirm": t("are_you_sure"), "turbo-method": :delete }
  = turbo_stream_from "computations"
  = link_to "Save as artifact",
    new_artifact_from_file_path(file_id: file.id),
    class: "btn btn-sm btn-primary"
