.card.mb-3{id: id}
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %h2= title
  .card-body
    %span
    - if local_assigns[:fileable] && policy(fileable).edit? && policy(ActiveStorage::Attachment).create?
      = simple_form_for fileable.class.new, url: file_upload_path(fileable), class: "form-inline", wrapper: :dropzone_file  do |f|
        = f.input :files, as: :dropzone_file, input_html: { data: { multiple: true } }
    - if files.blank?
      .alert.alert-info= t ".nothing"
    - else
      .table
        %table.table.table-striped
          %thead
            %tr
              %th= t "data_file.name"
              %th= t "data_file.data_type"
              %th= "Actions"
          %tbody
            = render partial: "storage/file", collection: files

