= simple_form_for Current.membership do |form|
  %ul.list-group.mb-4
    %li.list-group-item
      = form.input :dataverse_token, as: :showable_secret, label: t("profiles.show.dataverse.label"),
        hint: "#{t("profiles.show.dataverse.hint")}#{link_to(t("profiles.show.dataverse.link"), help_page_path("manual", "dataverse"), class: "btn-link")}".html_safe
      = form.submit t("profiles.show.dataverse.submit"), class: "btn btn-sm btn-primary"