%h1 Join request registered
%h2
  Your request to join #{Current.organization.name} organization
  is registered and waiting for organization administrators'
  approval

= render "memberships/footer"
