%h1 You are not a member of this organization
%h2
  If you would like to join #{Current.organization.name} organization
  please click the link bellow:
  %p
    = link_to "Join organization", membership_path,
      method: :post, class: "btn btn-primary"
%p
  Your join request will be validated by the organization administrators.
  After successful approval you will be able to access this organization.

= render "memberships/footer"
