%div{ "data-controller": "diff",
  "data-diff-first-value":  url_for(first),
  "data-diff-second-value": url_for(second),
  "data-diff-first-title-value": "#{first.filename} (#{first.record.name})",
  "data-diff-second-title-value": "#{second.filename} (#{second.record.name})",
  "data-diff-type-value": "text",
  "data-diff-target": "body" }
  .text-center
    %i.fas.fa-spinner.fa-spin
