- first, second = compare
.card.mb-3
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %span
      = first.metadata["file_type"]
      %small
        (#{link_to first.filename, url_for(first)} vs
        #{link_to second.filename, url_for(second)})
    .badge.badge-secondary.p-1= DataFileType.find_by(data_type: first.blob.metadata["file_type"]).viewer
  .card-body
    = render "comparisons/viewers/#{DataFileType.find_by(data_type: first.blob.metadata["file_type"]).viewer}",
      first: first, second: second, index: compare_iteration.index
