- if sources.size.positive?
  .card.mb-3
    .card-header= t ".title"
    .card-body
      %ul
        - sources.each do |compared_computation, compare_to_computation|
          %li
            = source_comparison_link(compared_computation,
                                      compare_to_computation)
            = render(Patients::Comparisons::ParametersComponent.new(first: compared_computation.parameter_values, second: compare_to_computation.parameter_values))
