- if @flows.size.zero?
  = render "layouts/empty",
    scope: "flows.empty",
    action_url: new_flow_path,
    image: "flow.svg"
- else
  %h1
    .float-left
      = t ".title"
    - if @flows.size.positive?
      .float-right
        = link_to new_flow_path, class: "btn btn-success" do
          %i.fas.fa-plus
          = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render @flows
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
