- if @uploader&.recent?
  = latest_status

.card
  .card-header
    = title
  .card-body
    = simple_form_for Patient::Uploader.new, url:, class: "form-inline", wrapper: :dropzone_file do |f|
      = f.input :file, label: nil, as: :dropzone_file, input_html: { data: { accept: "application/zip" } }
