= render "git_configs/form",
  git_config: git_config, git_config_url: git_config_url,
  module_type: module_type, git_types: git_types do
  %h2= t ".#{module_type}.title"
  %p.text-muted= t ".#{module_type}.description"
