.card.mt-3
  .card-header.d-flex.justify-content-between.align-items-center.bg-white
    = link_to "/#{OrganizationSlug.encode(organization.id)}",
      class: "flex-fill text-center" do
      = organization.name
  - if organization.description.present?
    .card-body
      = organization.description
