.text-center
  %h1.mt-5 Model Execution Environment (MEE)
  %p An integrated solution for patient cohort analysis
  %hr

  %h2 Our domain organizations:
  = render partial: "organization",
    collection: @organizations, as: :organization

  - if policy(@organizations).new?
    = link_to t("organizations.new.title"),
      new_organization_path,
      class: "btn btn-primary mt-4"
