.text-center
  %h1.mt-5= Current.organization.name
  %p= Current.organization.description
  = link_to "Login to #{Current.organization.name} organization",
    "/auth/open_id?origin=#{url_for}",
    class: "btn btn-primary btn-lg"
