=turbo_stream_from dom_id(pipeline, "show")
= render "runnables/pipelines/pipeline_header", runnable: runnable, pipeline: pipeline
= yield

= render "pipelines/file_browsers", pipeline: pipeline, runnable: runnable

- if policy(pipeline).edit?
  = render('pipelines/form', pipeline: pipeline)

