= render "cohorts/patients/layout", patient: patient, order: :reverse do
  - unless uploading
    = button_to cohort_patients_path(@cohort), method: :post,
      class: "btn btn-success", params: {id: patient.slug} do
      %i.fas.fa-plus.d-xl-none
      %span.d-none.d-xl-inline
        = I18n.t('cohorts.patients.add')
