= turbo_frame_tag patient do
  .card.mt-2
    .card-header
      .w-100.d-flex.justify-content-between.align-items-center{ class: ("flex-row-reverse" if local_assigns[:order] == :reverse) }
        .col
          = link_to patient, data: {"turbo-action": "advance", "turbo-frame": "_top"} do
            %i.fas.fa-user
            = patient.case_number
        %span.d-none.d-xl-inline.col
          #{t 'patients.summary_component.files'}: <strong>#{patient.files.size}</strong>,
          #{t 'patients.summary_component.pipelines'}: <strong>#{patient.pipelines.size}</strong>
        .col
          = yield
