- if @patients.size.zero?
  .row.mt-5
    .col-10.offset-1
      = render "empty"

- else
  %h1
    .float-left
      = t ".title"
    - if policy(Patient).new?
      .float-right
        = link_to new_patient_path, class: "btn btn-success" do
          %i.fas.fa-plus
          = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render(Patients::SummaryComponent.with_collection(@patients, pundit_user: pundit_user))
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)

= render Patients::UploaderComponent.new(uploader: @uploader)
