= render "runnables/patient_header", runnable: @patient

= render("runnables/show", runnable: @patient, pipelines: @pipelines)
= render "storage/file_browser",
  files: @patient.inputs,
  id: dom_id(@patient, "inputs"),
  title: t(".patient_inputs", name: @patient.case_number),
  fileable: @patient
