- if policy(Patient).index? || policy(:files).index?
  %h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted= t ".title"

  %ul.nav.flex-column.mb-2.ml-3
    - if policy(Patient).index?
      %li.nav-item
        = active_link_to t(".patients"), patients_path, class: "nav-link"
    - if policy(Pipeline).index?
      %li.nav-item
        = active_link_to t(".pipelines"), pipelines_path, class: "nav-link"
      %li.nav-item
        = active_link_to t(".artifacts"), artifacts_path,class: "nav-link"
    - if policy(Cohort).index?
      %li.nav-item
        = active_link_to t(".cohorts"), cohorts_path, class: "nav-link"
    - if policy(Campaign).index?
      %li.nav-item
        = active_link_to t(".campaigns"), campaigns_path, class: "nav-link"


