- if computation.step.required_file_types.present?
  The following files should be available:
  %ul
    - computation.step.required_file_types.each do |required_dft|
      %li
        = succeed ':' do
          = required_dft.name
        = required_dft.pattern
