%ul.nav.nav-tabs.card-header-tabs
  - computations.each do |comp|
    %li.nav-item{ class: comp.status }
      = link_to computation_path(comp),
        class: "nav-link #{comp == computation ? "active" : ""}" do
        = render(Computation::StatusComponent.new(computation: comp))
        = comp.name
