.card{ "data-target": "computation.content", id: dom_id(computation, "show") }
  .card-header{ "data-target": "computation.menu" }
    = render "computations/menu",
      pipeline: pipeline,
      computation: computation, computations: computations
  .card-body
    - if computation.runnable?
      .alert{ class: alert_computation_class(computation) }
        = t("computation.#{computation.status}", step: computation.name)
    - else
      .alert.alert-warning
        - if pipeline.archived?
          = t("steps.readonly", step: computation.name.downcase)
        - elsif !computation.step.input_present_for?(pipeline)
          = t("steps.missing_input", step: computation.name.downcase)
          = render "input_files_list", computation: computation
        - elsif !computation.previous_accounted?
          = t("computations.wait_for_previous")
        - else
          = t("computations.quota_exceeded")

    .card-deck.mb-4
      = render Computation::DetailsComponent.new(computation: computation)
      = render Computation::ParametersValuesComponent.new(computation: computation)
    = turbo_frame_tag dom_id(computation, "actions"), src: computation_actions_path(computation)
