= render "pipelines/show",
  runnable: @runnable,
  pipeline: @pipeline,
  details: @details do
  .pipeline.mb-3
    = render "computations/show",
      pipeline: @pipeline,
      computation: @computation,
      computations: @computations
