= simple_form_for target, data: { controller: "dynamic-view",
  "dynamic-view-url-value": flow_pipeline_parameters_path(":flow_id") } do |f|
  = f.error_notification
  = f.association :flow, collection: @flows, include_blank: false,
    input_html: { data: { action: "change->dynamic-view#load", "dynamic-view-target": "input" } }

  = f.input :name
  = f.input :mode, collection: Pipeline.modes.keys, include_blank: false,
    input_html: { data: { action: "change->dynamic-view#load", "dynamic-view-target": "input" } }

  %h2.mt-5
  = t("pipelines.pipeline_steps_form.title")
  %hr

  %template{data: {"dynamic-view-target": "loader"}}
    .d-flex.justify-content-center.align-items-center
      .spinner-border.mr-2{role: "status"}
      = t("pipelines.pipeline_steps_form.loading")
  = turbo_frame_tag "stepsConfig", pipeline, data: { "dynamic-view-target": "frame" } do
    = render "runnables/pipelines/computations_form_#{pipeline.mode}", pipeline: pipeline

  .ln_solid
  .form-group
    .col-md-6.col-md-offset-3
      = f.button :submit, class: "btn btn-success"
      = link_to t("cancel"), cancel_link, class: "btn btn-secondary"
