- if @steps.size.zero?
  = render "layouts/empty",
    scope: "steps.empty",
    action_url: new_step_path,
    image: "step.svg"
- else
  %h1
    .float-left
      = t ".title"
    .float-right
      = link_to new_step_path, class: "btn btn-success" do
        %i.fas.fa-plus
        = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render partial: "step", collection: @steps, as: :step
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
