%dialog#turbo-confirm.border-0.rounded.maxw-xs
  %form.overflow-hidden{:method => "dialog"}
    .flex.flex-col.justify-end.p-4
      %p.text-center.text-break.h6
    .flex.float-right
      %button.btn.btn-secondary{:value => "cancel"}= t("cancel")
      %button.btn.btn-danger{:value => "confirm"}= t("delete")
