= turbo_frame_tag "files", @campaign do
  .card.mt-2.mb-5{data: {controller: "toggle", "toggle-class-switched-on-value": "fa-eye", "toggle-class-switched-off-value": "fa-eye-slash", "toggle-class-switch-prevent-value": "collapsing"}}
    .card-header.d-flex.justify-content-between.align-items-center.py-2
      %a{role: "button", "href": "#outputFiles#{@campaign.id}", data: {"toggle": "collapse"},
      "aria-expanded": "false", "aria-controls": "outputFiles#{@campaign.id}"}
        .d-flex.align-content-center.align-items-center.justify-content-center{ data: { action: "click->toggle#toggle" } }
          %h6.p-0.m-0
            = t("campaigns.view.output_files.title")
          .ml-1
            %i.fa.fa-eye-slash{data: { "toggle-target": "toggled" }}
    %div{class: "collapse", id: "outputFiles#{@campaign.id}", data: { "toggle-target": "specialElement" }}
      .card-body
        - if @campaign.pipelines.size.zero?
          %h6.ml-5.mt-2
            = t("campaigns.view.output_files.patient.no_output_files")
        - else
          .mt-3
          - @campaign.pipelines.each do |pipeline|
            .ml-2.mr-2
              = render "storage/file_browser",
              files: pipeline.outputs,
              id: dom_id(pipeline, "outputs"),
              title: t("campaigns.view.output_files.patient.title", case_number: pipeline.runnable.case_number)
