.cred {
  color: $danger;
}

button.delete {
  color: rgb(90, 115, 142);

  &:hover,
  &:focus {
    color: darken($danger, 15);
    text-decoration: none;
  }
}

a.edit {
  &:hover,
  &:focus {
    color: darken($warning, 15);
    text-decoration: none;
  }
}

a.back {
  &:hover,
  &:focus {
    color: darken($success, 15);
    text-decoration: none;
  }
}

ul.list-inline {
  margin-bottom: 0;
}

.snippet {
  display: block;
  white-space: pre;
}
