@mixin panel-border($color) {
  border-color: $color;

  .x_title {
    border-color: $color;
  }
}

@mixin computation-icon-colors() {
  &.waiting {
    svg {
      color: $waiting;
    }
  }

  &.running {
    svg {
      color: $running;
    }
  }

  &.finished {
    svg {
      color: $finished;
    }
  }

  &.error {
    svg {
      color: $error;
    }
  }
}

