- if @grants.size.zero?
  = render "layouts/empty",
    scope: "admin.grants.empty",
    action_url: new_admin_grant_path,
    image: "grant.svg"

- else
  %h1
    .float-left
      = t ".title"
    .float-right
      = link_to new_admin_grant_path, class: "btn btn-success" do
        %i.fas.fa-plus
        = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render @grants
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
