%h1
  = t ".title"
.card.mb-3
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        = active_link_to t(".all"), admin_users_path, active: :exact, class: "nav-link"
      %li.nav-item
        = active_link_to t(".active"), admin_users_path(state: "active"),
         active: :exact, class: "nav-link"
      %li.nav-item
        = active_link_to admin_users_path(state: "new"), active: :exact, class: "nav-link" do
          = t(".new")
          %span.badge.badge-pill.badge-info= @new_users_count
      %li.nav-item
        = active_link_to t(".blocked"), admin_users_path(state: "blocked"),
         active: :exact, class: "nav-link"

  .card-body
    = render partial: "admin/users/membership",
      collection: @memberships, as: :membership
    -if @pagy.pages != 1
      != pagy_bootstrap_nav(@pagy)
