= turbo_frame_tag dom_id(@pipeline, "file_browsers") do
  .row#file-browsers
    .col-6
      = render 'storage/file_browser',
        files: @pipeline.inputs,
        id: dom_id(@pipeline, "inputs"),
        title: t('pipeline.inputs', name: @pipeline.name),
        fileable: @pipeline
      - if @runnable.class == Patient
        = render 'storage/file_browser',
          files: @runnable.inputs,
          id: dom_id(@runnable, "inputs"),
          title: t('patient.inputs', name: @runnable.case_number),
          fileable: @runnable
    .col-6
      = render 'storage/file_browser',
        id: dom_id(@pipeline, "outputs"),
        files: @pipeline.outputs,
        title: t('pipeline.outputs', name: @pipeline.name)
