%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  = favicon_link_tag
  %title= t('title')

  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  = csrf_meta_tags
  = csp_meta_tag

  =yield :head
