!!! 5
%html
  = render "layouts/head"
  %body.bg-light
    = render "layouts/organization/navbar"
    .container-fluid
      .row
        %nav.col-md-3.col-lg-2.d-md-block.sidebar.collapse#sidebar-menu
          .sidebar-sticky.pt-3
            = render "layouts/organization/side_menu"
        %main.col-md-9.ml-sm-auto.col-lg-10.px-md-4
          #flash
            = render "layouts/flash"
          = render "modal_windows/confirm"
          = yield
